@import "tailwindcss/base";
@import "tailwindcss/components";

/* Amplify classes need to be imported after base but before utilities. 
  - If imported before base, things like primary button styles don't work.
  - If imported after utilities, utility classes wont work in amplify components.
*/
@import "../node_modules/@aws-amplify/ui-react/dist/styles.css";

@import "tailwindcss/utilities";
@layer utilities {
  .min-h-screen {
    min-height: 100svh;
  }

  /* Amplify UI theme variables */
  .bg-primary {
    background-color: var(--amplify-colors-background-primary);
  }
  .bg-secondary {
    background-color: var(--amplify-colors-background-secondary);
  }
  .bg-tertiary {
    background-color: var(--amplify-colors-background-tertiary);
  }
  .bg-quaternary {
    background-color: var(--amplify-colors-background-quaternary);
  }
  .bg-success {
    background-color: var(--amplify-colors-background-success);
  }
  .bg-warning {
    background-color: var(--amplify-colors-background-warning);
  }
  .bg-disabled {
    background-color: var(--amplify-colors-background-disabled);
  }
  .bg-error {
    background-color: var(--amplify-colors-background-error);
  }
  .bg-info {
    background-color: var(--amplify-colors-background-info);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
